#ToolbarLeft {
    flex-grow: 1;
    flex-direction: row;
}

#ToolbarRight {
    flex-grow: 1;
    background-color: rgba(0, 0, 0, 0);
    flex-direction: row;
    justify-content: flex-end;
}

.g-number-toggle {
    width: 35px;
}

#LogNumberToggle {
    
}

#WarningNumberToggle {
    --unity-image: resource('console.erroricon');
}

#ErrorNumberToggle {
    /*background-image: resource('console.erroricon');*/
}